@media screen and (max-width: 780px) {
  header {
    margin: 0;
    padding: 0;
  }
  #blockpage {
    margin: 0px;
    padding: 0;
  }
  body {
    width: auto;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  /*Header + logo*/
  #logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  #logo img {
    width: 35%;
    height: 15%;
  }
  #localisation {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: #f0efeb;
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: inset 0px 2px 5px -4px;
  }
  #titre-localisation {
    margin-right: 15px;
  }
  #map {
    padding-right: 20px;
  }
  /*Réservation*/
  #Titre {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    padding-left: 48px;
    padding-right: 48px;
    font-weight: bold;
  }
  #réservation {
    background-color: #f5f5f5;
    padding-top: 35px;
    margin-top: -15px;
    padding-bottom: 35px;
  }
  #sous-titre {
    text-align: center;
    font-size: 19px;
    margin-top: -10px;
    color: #525150;
  }
  #bloc-btn {
    display: flex;
    justify-content: center;
  }
  #bouton {
    width: 210px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    border: none;
    font-size: 15px;
    box-shadow: 0px 2px 7px #7a7d7f;
  }
  /*Fonctionnement*/
  .titre {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 15px;
  }
  #fonctionnement {
    display: flex;
    flex-direction: column;
  }
  .bouton {
    display: flex;
    justify-content: space-around;
    height: 65px;
    width: 320px;
    border-radius: 18px 18px 18px 18px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    box-shadow: 0px 2px 7px #7a7d7f;
    border: none;
  }
  .texte-bouton {
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    padding-right: 60px;
  }

  #Iphone,
  #Imenu,
  #Istore {
    font-size: 16px;
    align-self: center;
    padding-left: 15px;
  }
  /*Menus restaurant*/
  .photo {
    width: 320px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
  }
  .description {
    width: 300px;
    font-size: 17px;
  }
}
