@media screen and (max-width: 780px) {
  header {
    margin: 0;
    padding: 0;
  }
  #blockpage {
    margin: 0px;
    padding: 0;
  }
  body {
    width: auto;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  /*Header + logo*/
  #logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  #logo img {
    width: 35%;
    height: 15%;
  }
  #localisation {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: #eaeaea;
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: inset 0px 2px 5px -4px;
  }
  #titre-localisation {
    margin-right: 15px;
  }
  #map {
    padding-right: 20px;
  }
  /*Réservation*/
  #Titre {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    padding-left: 48px;
    padding-right: 48px;
    font-weight: bold;
  }
  #réservation {
    background-color: #f6f6f6;
    padding-top: 35px;
    margin-top: -15px;
    padding-bottom: 35px;
  }
  #sous-titre {
    text-align: center;
    font-size: 19px;
    margin-top: -10px;
    color: #525150;
  }
  #bloc-btn {
    display: flex;
    justify-content: center;
  }
  .btn-hover {
    width: 210px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    border: none;
    font-size: 15px;
    box-shadow: 0px 2px 7px #7a7d7f;
  }
  /*Fonctionnement*/
  .titre {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 15px;
  }
  #fonctionnement {
    display: flex;
    flex-direction: column;
  }
  .bouton {
    display: flex;
    justify-content: space-around;
    height: 65px;
    width: 320px;
    border-radius: 18px 18px 18px 18px;
    background-color: #f6f6f6;
    margin-bottom: 25px;
    box-shadow: 0px 2px 7px #7a7d7f;
    border: none;
    position: static;
    margin-bottom: 30px;
    z-index: 0;
  }
  .texte-bouton {
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    padding-right: 50px;
  }
  ol {
    list-style: none;
    counter-reset: li;
  }
  ol li::before {
    content: counter(li);
    display: inline-block;
    margin-left: -0.5em;
    text-align: center;
    background-color: #9356dc;
    width: 22px;
    height: 22px;
    border: solid 1px #9356dc;
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
  }
  li {
    counter-increment: li;
  }
  li i {
    font-size: 17px;
    padding-left: 15px;
    align-self: center;
  }
  /*Menus restaurant*/
  #restaurant {
    background-color: #f6f6f6;
  }
  #restaurant a {
    text-decoration: none;
    color: black;
  }
  article img {
    object-fit: cover;
  }
  .carte {
    display: flex;
    justify-content: center;
  }
  .new {
    background-color: #99e2d0;
    position: absolute;
    right: 50px;
    margin-top: 15px;
    padding-top: 7px;
    width: 74px;
    height: 22px;
    border-radius: 5%;
    text-align: center;
    color: #008766;
    font-weight: bold;
    font-size: 15px;
  }
  .photo {
    width: 320px;
    height: 170px;
    border-radius: 20px 20px 0 0;
  }
  .description {
    width: 320px;
    font-size: 17px;
    height: 65px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    margin-top: -20px;
  }
  .legende {
    padding-left: 10px;
    padding-top: 10px;
  }
  .coeur {
    position: absolute;
    right: 50px;
    margin-top: -10px;
  }
  footer {
    background-color: #353535;
    height: 160px;
  }
  .logo-footer img {
    width: 25%;
    padding-top: 25px;
    padding-left: 20px;
    filter: invert(100%);
  }
  #bloc-footer {
    padding-top: 20px;
    padding-left: 20px;
  }
  footer i {
    color: white;
    font-size: 13px;
  }
  .texte-footer {
    color: white;
    font-size: 14px;
    line-height: 1.5em;
  }
  h1,
  h2 {
    font-family: "Shrikhand", cursive;
  }
}
